
@{
    ViewBag.Title = "Index";
}
@{
    var mlf = (bool)ViewData["mlf"];
    var bdb = (bool)ViewData["bdb"];
    var agc = (bool)ViewData["agc"];
    var atm = (bool)ViewData["atm"];
    var atb = (bool)ViewData["atb"];
}

<link href='//fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
<link href="~/Content/css/mainBG.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

<!-- The Modal -->
    <div id="myModal" class="modal">
        <div id="modalContent" class="modal-content">
            <div class="modal-header" style="background-color: #012244">
                <h5 class="modal-title" style="color:#FFFFFF">Mensaje Informativo</h5>
            </div>
            <div class="modal-body" style="text-align:center">
                <p style="text-align:justify">Para el correcto funcionamiento de la aplicación debe conceder permisos de ubicación,por favor conceder permisos</p>
                <button id="myBtn" type="button" class="btn btn-primary" style="justify-self: center;">Cerrar</button>
            </div>
        </div>
    </div>

<div id="contentRequestPermisson" class="dialogModal">
    <a id="requestPermisson" class="waves-effect waves-light btn" style="background-color:#007ACC">VER BANCOS DEL BARRIO</a>
    <div id="progressCircle" class="preloader-wrapper big active progressMap">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>

@*<nav class="navPage">
        <i id="openAllSites" hidden class="material-icons">menu</i>

        <img src="~/Content/img/mardis.png" class="iconHeader" />

        <div id="getNearest" class="getNearest" style="display:flex; flex-direction:row; align-content:center; align-items:center; justify-content:space-around" hidden>
            <b class="nearestText">Banco más cercano</b>
            <i class="material-icons">directions</i>
        </div>



            <div id="routeResumen" class="routeResumen">
                <p>
                    DISTANCIA: <a id="distace"></a>
                    TIEMPO: <a id="duration"></a>
                </p>
            </div>

    </nav>*@

<main class="map" id="mapid">
    <div id="cargando">
        <p class="titleDrawerBluetitlet" class="titleTextt">
            <img id="imgCargando" src="../Content/img/bg/pageLoader.gif" width="30%" height="20%" alt="loading" />  Un momento, por favor...</p>
    </div>
    <div class="leaflet-bottom leaflet-right">
        <div class="leaflet-control-zoom leaflet-bar leaflet-control" style="top: -70px;">
            <a class="" id="Miubicacion" title="Encuentrame" role="button" aria-label="Centrame">  <img src="~/Content/img/my_location_24px.png" width="15px" /></a>
        </div>
    </div>
    @*<div class="leaflet-bottom leaflet-center">
            <div class="card-content white-text leaflet-control">
                <div class="card-content white-text ">
                    <div class="col s12 m12 movil-cercano" id="MiMore2">
                        <div class="col s12 m12 " style="margin-bottom: 15px;">
                            <strong class="text-bg2">Puntos de atención</strong>
                        </div>
                        <div >
                            <label>
                                <input type="checkbox" class="OptionService filled-in" id="bdb1" />
                                <span class="span_check"> Banco del Barrio</span>
                            </label>
                        </div>
                        <div >
                            <label>
                                <input type="checkbox" class=" OptionService filled-in" id="mtf1" />
                                <span class="span_check">Cajeros Multifución</span>
                            </label>
                        </div>
                        <div >
                            <label>
                                <input type="checkbox" class="OptionService filled-in" id="atm1" />
                                <span class="span_check">Cajeros </span>
                            </label>
                        </div>
                        <div >
                            <label>
                                <input type="checkbox" class="OptionService filled-in" id="agc1" />
                                <span class="span_check">Agencias </span>
                            </label>
                        </div>
                        <div >
                            <label>
                                <input type="checkbox" class="OptionService filled-in" id="atb1" />
                                <span class="span_check">Autobanco </span>
                            </label>
                        </div>
                    </div>
                    </div>
                </div>
        </div>*@
    @*<div class="leaflet-bottom leaflet-center" id="mapbg8" >
            <div class="card-content white-text leaflet-control" >
                <div class="col s12 m12 movil-cercano" id="MiMore1">
                    <div class="col s6 m9">

                        <strong class="text-bg7">Ver el punto más cercano</strong>

                    </div>
                    <div class="col s6 m2">

                        <a class=" transparent" style="position: absolute;    top: 12px;     left: 2px;">
                            <img src="~/Content/img/pin_drop_24px_outlined.svg" />

                        </a>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="leaflet-bottom leaflet-center" id="mapbg9">
        <div class="card-content white-text leaflet-control">


        </div>
    </div>
</main>
<footer class="footerBg">

    <div class="col s12 m12 movil-cercano" id="MiMore2">
        <div class="col s6 m9">

            <strong class="text-bg9">Puntos de Atención</strong>

        </div>
        <div class="col s6 m2">

            <a id = "Abrir" class="transparent" style="position: absolute;    top:  15px;    left: 90%;">
                <img src="~/Content/img/VectorArriba.png" />
            </a>
        </div>
    </div>
    <div class="col s12 m12 movil-cercano" id="MiMore1">
        <div class="col s6 m9">

            <strong class="text-bg7">Ver el punto más cercano</strong>

        </div>
        <div class="col s6 m2">

            <a class="transparent abajomenu" style="position: absolute;    top: 12px;     left: 90%;">
                <img src="~/Content/img/pin_drop_24px_outlined.svg" />

            </a>
        </div>
    </div>
</footer>
@Html.AntiForgeryToken()
<!--MARKER DRAWER-->
<aside id="markerSite" class="sidenav drawerBackground">

    <nav class="drawerNavigator" style="background-color: #012244 ;    height: 136px;">

        <img src="~/Content/img/logo3.png" id="bgb" style=" height: 136px; width: 100%;" />
        <img src="~/Content/img/Screen Shot 2020-06-18 at 3.03 1.png" id="bbb" style=" height: 136px; width:100%;" />



    </nav>
    <ul class="drawerBody">
        <div class="white-text_ban col s12 m10 ">


            <input type="email" class="busBG" id="busBGId" aria-describedby="emailHelp" placeholder="Buscar punto de atención">

            <a class=" buscaIco">
                <img src="~/Content/img/Path.png" style="width:25px" />
            </a>
            <a class="btn buscaIcoX transparent" id="closeDrawer">
                <img src="~/Content/img/bg/Vector.png" style="/* top: 100px; */width:25px;top: 100px;display: block;padding-top: 7px;padding-left: 5px;" />
            </a>

            <div class="row sidenav_bg_5 left-align" style="padding-top: 0px;" id="mapbg5" name="2">
                <div class="card-content white-text">
                    <div class="col s12 m12" style="margin-bottom: 15px;">
                        <div class="col s6 m9">

                            <strong class="text-bg3">Ver el punto más cercano</strong>

                        </div>
                        <div class="col s6 m2">


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            @*<p class="titleDrawerGrey" class="titleText">Nombre</p>*@
            <p class="titleDrawerblue" id="localnames"></p>

        </div>
        <div>
            <p class="titleDrawerGrey" class="titleText">Dirección</p>
            <p class="titleDrawerblue" id="localDir"></p>

        </div>
        <div id="goTo" style="
                    /*margin-left: -9px;*/
                    padding-top: 2px;cursor:pointer
                ">
            <span>
                <small class="comollegar"> Cómo llegar</small>
            </span>
            <i class="ibar material-icons">directions</i>
        </div>
        <div>
            <p class="titleDrawerBluetitle" class="titleText">Punto de atención</p>
            <p class="titleDrawerBluesmall" id="AgType"></p>

        </div>
        <div>
            <p class="titleDrawerBluetitle" class="titleText">Ciudad</p>
            <p class="titleDrawerBluesmall" id="localCity"></p>

        </div>
        <div id="idsehorario">
            <p class="titleDrawerBluetitle" class="titleText">Horarios</p>
            <table class="table table-borderless">

                <tbody>
                    <tr>
                        <td style="padding:1px !important"> <p class="titleDrawerBluesmall" class="titleText">Lunes a viernes</p></td>
                        <td style="padding:1px !important"> <p class="titleDrawerBluesmall" id="localHorarioL"></p></td>
                    </tr>

                    <tr>
                        <td style="padding:1px !important"> <p class="titleDrawerBluesmall" class="titleText">Sábados</p></td>
                        <td style="padding:1px !important"> <p class="titleDrawerBluesmall" id="localHorariosS"></p></td>
                    </tr>
                    <tr>
                        <td style="padding:1px !important"> <p class="titleDrawerBluesmall" class="titleText">Domingos </p></td>
                        <td style="padding:1px !important"> <p class="titleDrawerBluesmall" id="localHorariosD"> 09H00 a 21H00</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="display:none">
            <p class="titleDrawerBluetitle" class="titleText">Tipo de Negocio</p>
            <p class="titleDrawerBluesmall" id="localType"></p>

        </div>
        <div class="serviceUl">
            <p class="titleDrawerBluetitle" class="titleText">Servicios</p>

            <div id="idUSerc">
            </div>
        </div>
        <!--
            <div>
                PROPIETARIO
                <p id="localOwn"></p>
            </div>

        <div>
            TELÉFONO
            <p id="localPhone"></p>
        </div>
        -->
        @*<div>
                PROVINCIA
                <p id="localProv"></p>
            </div>*@


        <div style="display: none;">
            LATITUD
            <p id="localLat"></p>
        </div>
        <div style="display: none;">
            LONGITUD
            <p id="localLong"></p>
        </div>
        @*<div class="TITLEBRANDTI">
                <H6><strong>SERVICIOS</strong></H6>
            </div>*@

        @*<div style="text-align:center">
                <img src="~/Content/img/LOGO_BG.png" class="imageFooterBG" />
            </div>*@
    </ul>
    <div style="text-align:center">


    </div>
</aside>
<!--LIST DRAWER-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.google.com/">


<aside id="allsites" class="sidenav" style=" display:none !important">
    @*<nav class="navPageAll" style="background-color: #BE1C6C;" >
            <p> Banco Guayaquil</p>

        </nav>*@

    <div class="container">
        <h5>PUNTOS DE <strong>ATENCIÓN</strong></h5>
        <ul id="listCollapsible" class="collapsible">
        </ul>
    </div>

</aside>
<!--
    <div style="display:none;overflow-y: auto;" class="floatSteps" id="floatSteps">
        <ul id="floatStepsBody" class="floatStepsBody">
        </ul>
    </div>

<a class="menuSteps" id="menuSteps"><i class="material-icons">directions</i></a>
-->

<div class="container">

    <div class="row sidenav_bg  right-aligned" id="mapbg" name="i">
        <nav class="navPageAll">
            <div class="col s6 m6" style=" LEFT: -5%;">

                <img src="~/Content/img/logo (2).png" style=" width: 130px;" />

            </div>
            @*<div class="col s2 m2">
                    <a id="idcerrar" class="leaflet-control-zoom-out" style="text-align: right;/* LEFT: 100%; */FLOAT: right;MARGIN-TOP: 5PX;" ; href="#" title="Cerrar" role="button" aria-label="Cerrar">x</a>
                </div>*@

        </nav>


        <div class="col s12 m6">
            <div>
                <div class="card-content white-text">
                    <div class="col s12 m10 ">
                        <div id="itemBus " class="input-field">

                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Buscar punto de atención </label>

                        </div>

                    </div>
                    <div class="mobillupa col s6 m2 ">
                        <a class=" transparent " id="BuscarID" style="position: absolute;   left:25px; top: 15px;">
                            <img src="~/Content/img/Path.png" style="width:25px" />



                        </a>

                    </div>

                </div>




            </div>


            <div class="row sidenav_bg_4 left-align" id="mapbg4" name="2">
                <div class="card-content white-text">
                    <div class="col s12 m12" style="margin-bottom: 15px;">
                        <div class="col s6 m9">

                            <strong class="text-bg3">Ver el punto más cercano</strong>

                        </div>
                        <div class="col s6 m2">


                        </div>
                    </div>
                </div>
            </div>
            <div class="row sidenav_bg_2  left-align" id="mapbg2" name="">
                <div class="card-content white-text">

                    <div class="col s12 m12" style="margin-bottom: 15px;">
                        <strong class="text-bg2">Puntos de atención</strong>
                        <a class=" transparent abajomenu" id="Mimore3" style="    left: 90%;   top: 10px; position: fixed;">

                            <img src="~/Content/img/VectorAbajo.png" />

                        </a>
                    </div>
                    <div class="col s6 m6">
                        <label>
                            <input type="checkbox" class="OptionService filled-in" id="bdb" />
                            <span class="span_check"> Banco del Barrio</span>
                        </label>
                    </div>
                    <div class="col s6 m6">
                        <label>
                            <input type="checkbox" class="OptionService filled-in" id="agc" />
                            <span class="span_check">Agencias </span>
                        </label>
                    </div>
                    <div class="col s6 m6">
                        <label>
                            <input type="checkbox" class="OptionService filled-in" id="atm" />
                            <span class="span_check">Cajeros </span>
                        </label>
                    </div>

                    <div class="col s6 m6">
                        <label>
                            <input type="checkbox" class="OptionService filled-in" id="atb" />
                            <span class="span_check">Autobancos </span>
                        </label>
                    </div>
                    <div class="col s6 m6">
                        <label>
                            <input type="checkbox" class=" OptionService filled-in" id="mtf" />
                            <span class="span_check" style=" display: inline-block !important;  width: 225px;">Cajeros Multifución</span>
                        </label>
                    </div>
                </div>
            </div>



            <div class="row sidenav_bg_3 left-align" id="mapbg3" name="2">
                <div class="card-content white-text">
                    <div class="col s12 m12" style="margin-bottom: 15px;     cursor: pointer;" id="MiMore">
                        <div class="col s6 m9">

                            <strong class="text-bg3">Ver el punto más cercano</strong>

                        </div>
                        <div class="col s6 m2">

                            <a class=" transparent" style="position: absolute;    top: 20px;     left: 2px;">

                                <img src="~/Content/img/pin_drop_24px_outlined.svg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tooltip">

            <i id="getMyLocation" class="material-icons getMyLocation">gps_fixed</i>
            <span class="tooltiptext tooltip-left">Mi ubicación</span>

        </div>



    </div>

    @section scripts{
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
        <script src="~/Content/js/mainBancos.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>*@
        <script src="~/Content/js/dataTable.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165708090-1"></script>

        <script>
            console.log("SOY PRIMERO INDEX0")
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            console.log("SOY PRIMERO INDEX1")
            gtag('config', 'UA-165708090-1');
        </script>



        <script>
            console.log("SOY PRIMERO INDEX2")
            function openli(e) {


                $(e).find('li').fadeToggle("fast");
                var v = $(e).find('img.ElipLisV').attr('src');
                console.log(v)

                if(v.includes("VectorArriba"))
                    $(e).find('img.ElipLisV').attr('src', '../Content/img/VectorAbajo.png');
                else
                    $(e).find('img.ElipLisV').attr('src', '../Content/img/VectorArriba.png');
            }

                var mlfR =('@Html.Raw(mlf)'==='True');
                var bdbR =('@Html.Raw(bdb)'==='True');
                var agcR =('@Html.Raw(agc)'==='True');
                var atmR = ('@Html.Raw(atm)' === 'True');
                var atbR =('@Html.Raw(atb)'==='True');
                     $('#mtf').attr('checked', mlfR)
                     $('#bdb').attr('checked',bdbR)
                     $('#agc').attr('checked',agcR)
                     $('#atm').attr('checked', atmR)
                     $('#atb').attr('checked', atbR)

                  var  mapbg2=    document.getElementById('mapbg5')
                        mapbg2.style.display = "none"
                   var  mapbg1=    document.getElementById('mapbg4')
                        mapbg1.style.display = "none"
                        //$('#busBGId').focusout(function () {
                        //    var mapbg2 = document.getElementById('mapbg5')
                        //    mapbg2.style.display = "none"
                        //});

                        $('#icon_prefix').keypress(function () {
                       let mapbg41 = document.getElementById('mapbg4')
                            mapbg41.style.display = "none"

                    if ($(this).val().length > -1) {
                    var list=[]
                               store.map((stores) => {
                                   var _data = stores.bancos.filter(x => x.direccion.toUpperCase().includes($(this).val().toUpperCase()) == true)
                                 _data.map((items) => {
                                       list.push(items)
                                      })
                               })

                         //CARGANDO
                      let htmlaux = ""
                        let tamaux=1

                        htmlaux +=   "    <tr> "+
                                    '      <td colspan="2">   '+
                                    '<div>'+
                                    ' <p class="titleDrawerBluetitlet" class="titleTextt"><img src="../Content/img/bg/pageLoader.gif" width="10%" height="10%"  alt="loading" />  Un momento, por favor...</p>'+
                                    ' </div>'
                                    + '</td>'
                        '    </tr>'

                        let mapbg4aux = document.getElementById('mapbg4')
                        let heiaux = 65 * tamaux;
                        let hei2aux = (20*tamaux) + 160;
                        let hei3aux= (20*tamaux) + 300;
                        mapbg4aux.style.height = heiaux + "px"
                        mapbg4aux.style.display = "flex"
                            var waux = screen.width;

                             if (waux > 550) {
                            let mapbg2aux = document.getElementById('mapbg2')
                            mapbg2aux.style.top = hei2aux + "%"
                            let mapbg3aux = document.getElementById('mapbg3')
                            mapbg3aux.style.top = hei3aux + "%"
                        }

                $("#mapbg4").html('<table class="table table-borderless">' +
                            '  <tbody>'+
                                   htmlaux+
                            ' </tbody>'+
                            '</table>'
                             );
                      //CARGARDO

                    list.sort((a, b) => Number(a.distancia) - Number(b.distancia));
                    if (list.length > 0) {
                        let reg = 1
                        let tam=1
                        let html = ""
                        list.map((items) => {
                            if (reg < 4) {

                                      html +=   "    <tr   onclick= 'ir(" + items.latitud + "," + items.longitud + ")'> "+

                                    '      <td colspan="2">   '+
                                    '<div>'+
                                    ' <p class="titleDrawerBluetitlet" class="titleTextt">'+items.name+'</p>'+
                                    '<p class="titleDrawerBluesmallt" id="localTypet">'+items.direccion+'</p>' +
                                    ' </div>'
                                    + '</td>'
                                    +'<td scope="row"> <p class="titleDrawergreysmallt" id="localTypet">'+items.distancia+'km</p></td>'+
                                    '    </tr>'
                                tam=tam+1
                            }
                            reg=reg+1

                        })
                        let mapbg4 = document.getElementById('mapbg4')
                        let hei = 65 * tam;
                        let hei2 = (20*tam) + 260;
                        let hei3= (20*tam) + 400;
                        mapbg4.style.height = hei + "px"
                        mapbg4.style.display = "flex"
                           var w = screen.width;

                        if (w > 550) {
                            let mapbg2 = document.getElementById('mapbg2')
                            mapbg2.style.top = hei2 + "%"
                            let mapbg3 = document.getElementById('mapbg3')
                            mapbg3.style.top = hei3 + "%"
                        }
                        $("#mapbg4").html('<table class="table table-borderless">' +
                            '  <tbody>'+
                                   html+
                            ' </tbody>'+
                            '</table>'
                             );


                    } else {
                         let tam=1
                        let html = ""
                        html +=   "    <tr> "+
                                    '      <td colspan="2">   '+
                                    '<div>'+
                                    ' <p class="titleDrawerBluetitlet" class="titleTextt">No se encontraron servicios en "'+$('#icon_prefix').val()+'"</p>'+
                                    ' </div>'
                                    + '</td>'
                                    '    </tr>'
                        let mapbg4 = document.getElementById('mapbg4')
                        let hei = 20 * tam;
                        let hei2 = (20*tam) + 160;
                        let hei3= (20*tam) + 300;
                        mapbg4.style.height = hei + "px"
                        mapbg4.style.display = "flex"
                           var w = screen.width;

                        if (w > 550) {
                            let mapbg2 = document.getElementById('mapbg2')
                            mapbg2.style.top = hei2 + "%"
                            let mapbg3 = document.getElementById('mapbg3')
                            mapbg3.style.top = hei3 + "%"
                        }
                        $("#mapbg4").html('<table class="table table-borderless">' +
                            '  <tbody>'+
                                   html+
                            ' </tbody>'+
                            '</table>'
                             );
                        }
                    } else {
   //                         var w = screen.width;

   //                     if (w > 550) {
   //                     let mapbg4 = document.getElementById('mapbg2')
   //                     mapbg4.style.top = "120%"
   //                           let mapbg3 = document.getElementById('mapbg3')
   //                     mapbg3.style.top = "260%"
   //}
                    }

                        });



            $('#BuscarID').click(function () {
                       let mapbg41 = document.getElementById('mapbg4')
                mapbg41.style.display = "none"

                        //CARGARDO
                      let htmlaux = ""
                        let tamaux=1

                        htmlaux +=   "    <tr> "+
                                    '      <td colspan="2">   '+
                                    '<div>'+
                                    ' <p class="titleDrawerBluetitlet" class="titleTextt"><img src="../Content/img/bg/pageLoader.gif" width="10%" height="10%"  alt="loading" />  Un momento, por favor...</p>'+
                                    ' </div>'
                                    + '</td>'
                                    '    </tr>'
                        let mapbg4aux = document.getElementById('mapbg4')
                        let hei = 65 * tamaux;
                        let hei2 = (20*tamaux) + 260;
                        let hei3= (20*tamaux) + 400;
                        mapbg4aux.style.height = hei + "px"
                        mapbg4aux.style.display = "flex"
                var w = screen.width;

                        if (w > 550) {
                            let mapbg2 = document.getElementById('mapbg2')
                            mapbg2.style.top = hei2 + "%"
                            let mapbg3 = document.getElementById('mapbg3')
                            mapbg3.style.top = hei3 + "%"
                        }

                $("#mapbg4").html('<table class="table table-borderless">' +
                            '  <tbody>'+
                                   htmlaux+
                            ' </tbody>'+
                            '</table>'
                             );
                      //CARGARDO

                    if ($('#icon_prefix').val().length > -1) {
                    var list=[]
                               store.map((stores) => {
                                   var _data = stores.bancos.filter(x => x.direccion.toUpperCase().includes($('#icon_prefix').val().toUpperCase()) == true)
                                 _data.map((items) => {
                                       list.push(items)
                                      })
                            })
                    list.sort((a, b) => Number(a.distancia) - Number(b.distancia));
                    if (list.length > 0) {
                        let reg = 1
                        let tam=1
                        let html = ""
                        list.map((items) => {
                            if (reg < 4) {

                                      html +=   "    <tr   onclick= 'ir(" + items.latitud + "," + items.longitud + ")'> "+

                                    '      <td colspan="2">   '+
                                    '<div>'+
                                    ' <p class="titleDrawerBluetitlet" class="titleTextt">'+items.name+'</p>'+
                                    '<p class="titleDrawerBluesmallt" id="localTypet">'+items.direccion+'</p>' +
                                    ' </div>'
                                    + '</td>'
                                    +'<td scope="row"> <p class="titleDrawergreysmallt" id="localTypet">'+items.distancia+'km</p></td>'+
                                    '    </tr>'
                                tam=tam+1
                            }
                            reg=reg+1

                        })
                        let mapbg4 = document.getElementById('mapbg4')
                        let hei = 65 * tam;
                        let hei2 = (20*tam) + 260;
                        let hei3= (20*tam) + 400;
                        mapbg4.style.height = hei + "px"
                        mapbg4.style.display = "flex"
                           var w = screen.width;

                        if (w > 550) {
                            let mapbg2 = document.getElementById('mapbg2')
                            mapbg2.style.top = hei2 + "%"
                            let mapbg3 = document.getElementById('mapbg3')
                            mapbg3.style.top = hei3 + "%"
                        }
                        $("#mapbg4").html('<table class="table table-borderless">' +
                            '  <tbody>'+
                                   html+
                            ' </tbody>'+
                            '</table>'
                             );


                    } else {
                         let tam=1
                        let html = ""
                        html +=   "    <tr> "+
                                    '      <td colspan="2">   '+
                                    '<div>'+
                                    ' <p class="titleDrawerBluetitlet" class="titleTextt">No se encontraron servicios en: "'+$('#icon_prefix').val()+'"</p>'+
                                    ' </div>'
                                    + '</td>'
                                    '    </tr>'
                        let mapbg4 = document.getElementById('mapbg4')
                        let hei = 20 * tam;
                        let hei2 = (20*tam) + 160;
                        let hei3= (20*tam) + 300;
                        mapbg4.style.height = hei + "px"
                        mapbg4.style.display = "flex"
                           var w = screen.width;

                        if (w > 550) {
                            let mapbg2 = document.getElementById('mapbg2')
                            mapbg2.style.top = hei2 + "%"
                            let mapbg3 = document.getElementById('mapbg3')
                            mapbg3.style.top = hei3 + "%"
                        }
                        $("#mapbg4").html('<table class="table table-borderless">' +
                            '  <tbody>'+
                                   html+
                            ' </tbody>'+
                            '</table>'
                             );
                        }
                    } else {
                            var w = screen.width;

                        if (w > 550) {
                        let mapbg4 = document.getElementById('mapbg2')
                        mapbg4.style.top = "120%"
                              let mapbg3 = document.getElementById('mapbg3')
                        mapbg3.style.top = "260%"
                       }
                    }

                        });



                  $('#busBGId').keypress(function () {
                       let mapbg41 = document.getElementById('mapbg5')
                      mapbg41.style.display = "none"


                    if ($(this).val().length > -1) {
                    var list=[]
                               store.map((stores) => {
                                   var _data = stores.bancos.filter(x => x.direccion.toUpperCase().includes($(this).val().toUpperCase()) == true)
                                 _data.map((items) => {
                                       list.push(items)
                                      })
                               })

                        //CARGARDO
                      let htmlaux = ""
                        let tamaux=1

                        htmlaux +=   "    <tr> "+
                                    '      <td colspan="2">   '+
                                    '<div>'+
                                    ' <p class="titleDrawerBluetitlet" class="titleTextt"><img src="../Content/img/bg/pageLoader.gif" width="10%" height="10%" alt="loading" />  Un momento, por favor...</p>'+
                                    ' </div>'
                                    + '</td>'
                                    '    </tr>'
                        let mapbg4aux = document.getElementById('mapbg5')
                        let hei = 20 * tamaux;
                        mapbg4aux.style.height = hei + "px"
                        mapbg4aux.style.display = "flex"
                        mapbg4aux.style.position = "initial"

                        $("#mapbg5").html('<table class="table table-borderless">' +
                            '  <tbody>'+
                                   htmlaux+
                            ' </tbody>'+
                            '</table>'
                             );
                      //CARGARDO

                    list.sort((a, b) => Number(a.distancia) - Number(b.distancia));
                    if (list.length > 0) {
                        let reg = 1
                        let tam=1
                        let html = ""
                        list.map((items) => {
                            if (reg < 4) {

                                      html +=   "    <tr   onclick= 'ir(" + items.latitud + "," + items.longitud + ")'> "+

                                    '      <td colspan="2">   '+
                                    '<div>'+
                                    ' <p class="titleDrawerBluetitlet" class="titleTextt">'+items.name+'</p>'+
                                    '<p class="titleDrawerBluesmallt" id="localTypet">'+items.direccion+'</p>' +
                                    ' </div>'
                                    + '</td>'
                                    +'<td scope="row"> <p class="titleDrawergreysmallt" id="localTypet">'+items.distancia+'km</p></td>'+
                                    '    </tr>'
                                tam=tam+1
                            }
                            reg=reg+1

                        })
                        let mapbg4 = document.getElementById('mapbg5')
                        let hei = 65 * tam;
                        mapbg4.style.height = hei + "px"
                        mapbg4.style.display = "flex"
                        mapbg4.style.position = "initial"

                        $("#mapbg5").html("<table class='table table-borderless' id='Idtav'>" +
                            '  <tbody>'+
                                   html+
                            ' </tbody>'+
                            '</table>'
                             );


                    } else {
                        let tam=1
                        let html = ""
                        html +=   "    <tr> "+
                                    '      <td colspan="2">   '+
                                    '<div>'+
                                    ' <p class="titleDrawerBluetitlet" class="titleTextt">No se encontraron servicios en: "'+$('#busBGId').val()+'"</p>'+
                                    ' </div>'
                                    + '</td>'
                                    '    </tr>'
                        let mapbg4 = document.getElementById('mapbg5')
                        let hei = 20 * tam;
                        mapbg4.style.height = hei + "px"
                        mapbg4.style.display = "flex"
                        mapbg4.style.position = "initial"

                        $("#mapbg5").html('<table class="table table-borderless">' +
                            '  <tbody>'+
                                   html+
                            ' </tbody>'+
                            '</table>'
                             );
                        }
                    } else {


                    }

                        });




                     $('#selectProvice').change(function () {
                        let _model = StoreData.find(x => x.Provice === $(this).val());
                        $('#selectCities').children().remove();
                        $('#selectCities').append('<option value="" disabled selected>Ciudad</option>')
                        $.each(_model.Cites, function (i, item) {
                            $('#selectCities').append($('<option>', {
                                value: item.City,
                                text: item.City
                            }));
                        });

                    });
                    $('#selectCities').change(function () {

                        LoadListbank($(this).val())

                    });
                    $('#selectCities').change(function () {

                        LoadListbank($(this).val())

                    });
                    $('#Miubicacion').click(function () {

                        ReloadMap();

                    });
                   $('#MiMore').click(function () {

                       more();

                   });
                 $('#MiMore1').click(function () {

                       more();

                 });

              $('#MiMore2').click(function () {

                     let mapbg2 = document.getElementById('mapbg2')
                      mapbg2.style.display = "flex";
                  let mapbg8 = document.getElementById('MiMore1')
                  mapbg8.style.display = "flex";
                 let mapbg9= document.getElementById('MiMore2')
                  mapbg9.style.display = "none";
                   var badBrowser = document.getElementsByClassName("leaflet-right");
                      vh = (screen.height -380);
                    for (i = 0; i < badBrowser.length; i++) {
                        badBrowser[i].style.top = vh+"px";
                    }
              });
              $('#Mimore3').click(function () {

                     let mapbg2 = document.getElementById('mapbg2')
                      mapbg2.style.display = "none";
                  let mapbg8 = document.getElementById('MiMore1')
                  mapbg8.style.display = "none";
                 let mapbg9= document.getElementById('MiMore2')
                  mapbg9.style.display = "flex";
                   var badBrowser = document.getElementsByClassName("leaflet-right");
                      vh = (screen.height -280);
                    for (i = 0; i < badBrowser.length; i++) {
                        badBrowser[i].style.top = vh+"px";
                    }
                    });

                function more() {

                          var list=[]
                    store.map((stores) => {

                                   stores.bancos.map((items) => {
                                       list.push(items)
                                   })
                                 })
                    list.sort((a, b) => Number(a.distancia) - Number(b.distancia));
                    let lat = 0
                    let lng=0

                    if (list.length > 0) {
                    ir(list[0].latitud, list[0].longitud)
                    }

            }
            WiLoad();
            function WiLoad() {
                navigator.geolocation.getCurrentPosition(successModal, function (error) {
                    // El segundo parámetro es la función de error
                    switch (error.code) {
                        case error.PERMISSION_DENIED:
                            // El usuario denegó el permiso para la Geolocalización.
                            errorModal();
                            break;
                        case error.POSITION_UNAVAILABLE:
                            // La ubicación no está disponible.
                            errorModal();
                            break;
                        case error.TIMEOUT:
                            // Se ha excedido el tiempo para obtener la ubicación.
                            errorModal();
                            break;
                        case error.UNKNOWN_ERROR:
                            // Un error desconocido.
                            errorModal();
                            break;
                        default:
                            errorModal();
                            break;
                    }
                });
            }

            function WiLoad2() {
                console.log("SOY PRIMERO Wiload2")
                var w = screen.width;
                var h = (screen.height / 2);
              // alert('h:'+screen.height +'- w:'+w)
                let mapbg22 = document.getElementById('MiMore1')
                let mapbg2 = document.getElementById('mapbg2')
                mapbg22.style.display = "none";
                let mapbg8 = document.getElementById('MiMore1')
                mapbg8.style.display = "none";

                let map = document.getElementById('mapid')
                 let mapbg9 = document.getElementById('mapbg9')
                mapbg9.style.display = "flex";
                var f = isMobile();
                var mobil = whatMobile();
                if (isMobile()) {
                       let mapbg9 = document.getElementById('mapbg9')
                        mapbg9.style.display = "flex";
                    var badBrowser = document.getElementsByClassName("leaflet-right");
                    if (mobil == "ios") { vh = (screen.height - 80); }
                    else if (mobil == "android") { vh = (screen.height - 68); }
                    for (i = 0; i < badBrowser.length; i++) {
                        badBrowser[i].style.top = (vh-100)+"px";
                    }

                    let mapbg2 = document.getElementById('mapbg2')
                    mapbg2.style.top = h+"%";
                      let mapbg3 = document.getElementById('mapbg3')
                    mapbg3.style.display = "none";
                        mapbg2.style.display = "none";
                  //  mapbg22.style.display = "flex";
                    if (mobil == "ios") { h = (screen.height - 340); }
                    else if (mobil == "android") { h = (screen.height - 310); }
                    map.style.height=(vh-100)+"px";
                    mapbg2.style.top = h+"px";

                }
            }



            function whatMobile() {
                var cual = ""
                            var isMobil = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobil.Android() || isMobil.BlackBerry() || isMobil.iOS() || isMobil.Opera() || isMobil.Windows());
    }
};

//                if(isMobil.any()) {
//  console.log('Esto es un dispositivo móvil, si especificar cuál');
//}
                if (isMobil.Android()) {
        cual = "android";
    console.log('Esto es un dispositivo Android');
}
if(isMobil.BlackBerry()) {
  //console.log('Esto es un dispositivo BlackBerry');
}
                if (isMobil.iOS()) {
                    cual = "ios";
  console.log('Esto es un dispositivo iOS');
}
if(isMobil.Opera()) {
  //console.log('Esto es un dispositivo Opera');
}
if(isMobil.Windows()) {
  //console.log('Esto es un dispositivo Windows');
                }
                return cual;
            }



           function isMobile() {
                    try{
                        document.createEvent("TouchEvent");
                        return true;
                    }
                    catch(e){
                        return false;
                    }
                }

                function checkMobile() {
                    return /Safari/.test(navigator.userAgent) && !/Chrome/.test(navigator.userAgent);
                }

                var checkDevice = checkMobile();

                //if (window.location !== window.parent.location) {

                //    //var contentRequestPermisson = document.getElementById('contentRequestPermisson')
                //    //contentRequestPermisson.style.display = "flex"


                //    //var myLocationButton = document.getElementById('getMyLocation')
                //    //myLocationButton.style.display = "none";





                //    //document.getElementById('requestPermisson').onclick = function () {

                //    //    if (!checkDevice) {
                //    //        var requestPermissonButton = document.getElementById('requestPermisson')
                //    //        requestPermissonButton.style.display = "none"
                //    //        var progressCircle = document.getElementById('progressCircle')
                //    //        progressCircle.style.display = "flex"
                //    //        LoadMap();
                //    //    } else {
                //    //        window.open('https://bancoguayaquil.azurewebsites.net/');
                //    //    }
                //    //}
                //} else {

                    //var contentRequestPermisson = document.getElementById('contentRequestPermisson')
                    //contentRequestPermisson.style.display = "flex"

                    //var requestPermissonButton = document.getElementById('requestPermisson')
                    //requestPermissonButton.style.display = "none"

                    var progressCircle = document.getElementById('progressCircle')
                    progressCircle.style.display = "flex"


                    var myLocationButton = document.getElementById('getMyLocation')
                    myLocationButton.style.display = "none";

                    LoadCity();

                    //LoadMap();
                //}

                function ReloadMap() {

                    GetGeo();
                    var token = $("[name='__RequestVerificationToken']").val();
                    $('#selectCities').children().remove();
                    $('#selectCities').append('<option value="" disabled selected>Ciudad</option>')
                    let _bdb = $('#bdb').prop('checked')
                    let _mtf = $('#mtf').prop('checked')
                    let _agc = $('#agc').prop('checked')
                    let _atm = $('#atm').prop('checked')
                    let _atb = $('#atb').prop('checked')

                    let geos = localStorage.getItem('Lat') + ";" + localStorage.getItem('lng')

                    var dataSet = []
                    $.ajax({
                        url: "/Bancos/DataMax",
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: token,
                            mlf: _mtf,
                            bdb: _bdb,
                            agc: _agc,
                            atm: _atm,
                            atb:_atb,
                            lat: parseFloat(localStorage.getItem('Lat')),
                            lgn: parseFloat(localStorage.getItem('lng'))
                        },
                        success: function (result) {
                            changedata(result)
                        },
                        error: function () {
                            if (window.location !== window.parent.location) {
                                var requestPermissonButton = document.getElementById('requestPermisson')
                                requestPermissonButton.style.display = "flex"

                                var progressCircle = document.getElementById('progressCircle')
                                progressCircle.style.display = "none"
                            } else {

                            }

                        }
                    });
                    return null;
                }
            var store

            function LoadMapEmpty() {

                GetGeo();
                var token = $("[name='__RequestVerificationToken']").val();
                let _bdb = $('#bdb').prop('checked')
                let _mtf = $('#mtf').prop('checked')
                let _agc = $('#agc').prop('checked')
                let _atm = $('#atm').prop('checked')
                let _atb = $('#atb').prop('checked')
                let geos = localStorage.getItem('Lat') + ";" + localStorage.getItem('lng')

                var dataSet = []
                $.ajax({
                    url: "/Bancos/DataMax",
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: token,
                        mlf: _mtf,
                        bdb: _bdb,
                        agc: _agc,
                        atm: _atm,
                        atb: _atb,
                        lat: 0,
                        lgn: 0
                    },
                    success: function (result) {
                        //  console.log(result)
                        store = result
                        permiso(result)
                    },
                    error: function () {
                        if (window.location !== window.parent.location) {
                            var requestPermissonButton = document.getElementById('requestPermisson')
                            requestPermissonButton.style.display = "flex"

                            var progressCircle = document.getElementById('progressCircle')
                            progressCircle.style.display = "none"
                        } else {

                        }

                    }
                });
                return null;
            }

            function LoadMapSinGeo() {

                var token = $("[name='__RequestVerificationToken']").val();
                let _bdb = $('#bdb').prop('checked')
                let _mtf = $('#mtf').prop('checked')
                let _agc = $('#agc').prop('checked')
                let _atm = $('#atm').prop('checked')
                let _atb = $('#atb').prop('checked')
                let geos = localStorage.getItem('Lat') + ";" + localStorage.getItem('lng')

                var dataSet = []
                $.ajax({
                    url: "/Bancos/DataMax",
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: token,
                        mlf: _mtf,
                        bdb: _bdb,
                        agc: _agc,
                        atm: _atm,
                        atb: _atb,
                        lat: parseFloat(localStorage.getItem('Lat')),
                        lgn: parseFloat(localStorage.getItem('lng'))
                    },
                    success: function (result) {
                        //  console.log(result)
                        store = result
                        permiso(result)
                    },
                    error: function () {
                        if (window.location !== window.parent.location) {
                            var requestPermissonButton = document.getElementById('requestPermisson')
                            requestPermissonButton.style.display = "flex"

                            var progressCircle = document.getElementById('progressCircle')
                            progressCircle.style.display = "none"
                        } else {

                        }

                    }
                });
                return null;
            }


                function LoadMap() {
 
                    GetGeo();
                    var token = $("[name='__RequestVerificationToken']").val();
                    let _bdb = $('#bdb').prop('checked')
                    let _mtf = $('#mtf').prop('checked')
                    let _agc = $('#agc').prop('checked')
                    let _atm = $('#atm').prop('checked')
                     let _atb = $('#atb').prop('checked')
                    let geos = localStorage.getItem('Lat') + ";" + localStorage.getItem('lng')

                    var dataSet = []
                    $.ajax({
                        url: "/Bancos/DataMax",
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: token,
                            mlf: _mtf,
                            bdb: _bdb,
                            agc: _agc,
                            atm: _atm,
                                atb: _atb,
                            lat: parseFloat(localStorage.getItem('Lat')),
                            lgn: parseFloat(localStorage.getItem('lng'))
                        },
                        success: function (result) {
                          //  console.log(result)
                            store = result
                            permiso(result)
                        },
                        error: function () {
                            if (window.location !== window.parent.location) {
                                var requestPermissonButton = document.getElementById('requestPermisson')
                                requestPermissonButton.style.display = "flex"

                                var progressCircle = document.getElementById('progressCircle')
                                progressCircle.style.display = "none"
                            } else {

                            }

                        }
                    });
                    return null;
                }

            function ir(lt, lg) {
                //var mapbg2 = document.getElementById('mapbg5')
                // mapbg2.style.display = "none"
                 if (isMobile()) {
                    var mapbg2 = document.getElementById('mapbg4')
                    mapbg2.style.display = "none"
                }

                zoomPunto(lt, lg);

                }
                var latf;
                var lngf;
                function LoadListbank(ct) {


                    var token = $("[name='__RequestVerificationToken']").val();
                    let _bdb = document.getElementById("bdb").checked
                    let _mtf = $('#mtf').prop('checked');
                    let _agc = $('#agc').prop('checked');
                    let _atm = $('#atm').prop('checked');
                    let _atb = $('#atb').prop('checked')
                    let city = ct
                    var dataSet = []
                    $.ajax({
                        url: "/Bancos/DataMax",
                        type: 'POST',
                        async: true,
                        data: {
                            __RequestVerificationToken: token,
                            mlf: _mtf,
                            bdb: _bdb,
                            agc: _agc,
                            atm: _atm,
                            atb: _atb,
                            city: city,
                            lat: parseFloat(localStorage.getItem('Lat')),
                            lgn: parseFloat(localStorage.getItem('lng'))
                        },
                        success: function (result) {
                            let cont = 0
                            store = result
                            changedata(result)


                        },

                        error: function () {
                            if (window.location !== window.parent.location) {
                                var requestPermissonButton = document.getElementById('requestPermisson')
                                requestPermissonButton.style.display = "flex"

                                var progressCircle = document.getElementById('progressCircle')
                                progressCircle.style.display = "none"
                            } else {

                            }

                        }
                    });
                    return null;
                }


                function LoadProvice() {
                    var token = $("[name='__RequestVerificationToken']").val();
                    $.ajax({
                        url: "/Bancos/Provice",
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: token
                        },
                        success: function (result) {
                            StoreData = result
                            $.each(StoreData, function (i, item) {
                                $('#selectProvice').append($('<option>', {
                                    value: item.Provice,
                                    text: item.Provice
                                }));
                            });
                        },
                        error: function () {
                            if (window.location !== window.parent.location) {
                                var requestPermissonButton = document.getElementById('requestPermisson')
                                requestPermissonButton.style.display = "flex"

                                var progressCircle = document.getElementById('progressCircle')
                                progressCircle.style.display = "none"
                            } else {

                            }

                        }
                    });
                    return null;
                }
                function LoadCity() {
                    var token = $("[name='__RequestVerificationToken']").val();
                    $.ajax({
                        url: "/Bancos/City",
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: token
                        },
                        success: function (result) {

                            StoreData = result
                            $.each(StoreData, function (i, item) {
                                $.each(item.Cites, function (i, item2) {

                                    $('#selectCities').append($('<option>', {
                                        value: item2.City,
                                        text: item2.City + "(" + item.Provice + ")",
                                    }));
                                });


                            });
                        },
                        error: function () {
                            if (window.location !== window.parent.location) {
                                var requestPermissonButton = document.getElementById('requestPermisson')
                                requestPermissonButton.style.display = "flex"

                                var progressCircle = document.getElementById('progressCircle')
                                progressCircle.style.display = "none"
                            } else {

                            }

                        }
                    });
                    return null;
                }

                function ReadMap() {

                    var token = $("[name='__RequestVerificationToken']").val();
                    let _bdb = $('#bdb').prop('checked')
                    let _mtf = $('#mtf').prop('checked')
                    let _agc = $('#agc').prop('checked')
                    let _atm = $('#atm').prop('checked')
                     let _atb = $('#atb').prop('checked')
                    $.ajax({
                        url: "/Bancos/DataMax",
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: token,
                            mlf: _mtf,
                            bdb: _bdb,
                            agc: _agc,
                            atm: _atm,
                             atb: _atb,
                        },
                        success: function (result) {
                            store = result
                            changedata(result)
                        },
                        error: function () {
                            if (window.location !== window.parent.location) {
                                var requestPermissonButton = document.getElementById('requestPermisson')
                                requestPermissonButton.style.display = "flex"

                                var progressCircle = document.getElementById('progressCircle')
                                progressCircle.style.display = "none"
                            } else {

                            }

                        }
                    });
                    return null;
                }
                $(".OptionService").change(function () {
                   let mapbg1 = document.getElementById('mapbg4')
                    mapbg1.style.display = "none"
                          var w = screen.width;

                    if (w > 550) {
                        let mapbg4 = document.getElementById('mapbg2')
                        mapbg4.style.top = "120%"
                        let mapbg3 = document.getElementById('mapbg3')
                        mapbg3.style.top = "260%"
                    }
                    LoadListbank($('#selectCities').val())

                })
        </script>
    }
